
body {
    background-color:#E4E3DE;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color:#797972 ;
}

ul { 
    list-style:none
    
}
a {
    text-decoration:none; 
}

nav {
	display: flex;
	justify-content: space-between;
	align-items:center;
	height:60px;
	background-color:#E4E3DE;
	box-shadow:2px 2px 12px rgba(0,0,0,0.1);
	padding:0px 5%;
}

body {
    background-color: #E4E3DE
    ;
}
nav ul {
    display: flex;

}
.toggle {
    display: none;
}

nav ul li a{
	margin:30px;
	font-family:'Nunito', sans-serif;
	color:#797972;
	font-size: 18px;
	font-weight:normal;
}

.logo {
    font-family: 'nunito', sans-serif;
    color: #797972;
    font-size: 18px;
    font-weight: bolder;
}
.active {
    color: #797972;
    font-weight: bold;
}

section {
    background-color: #E4E3DE
    ;
    width: 100%;
    /*height: 95vh;*/
    background-size: cover;
    background-repeat: no-repeat;
    margin:0 auto;
    
}



.handwave {
    display: flex;
}
.right {
    padding-right: 5%;
   padding-top: 5%;
}
.heroscene {
    width: 90%;
    

}

.view {
    color:#d399a9;
}

h1 {
    text-align: center;
    color: rgba(117, 181, 170, 0.2);
font-family: 'Playfair Display', serif;
font-weight: bold;
font-size: 85px;
line-height: 127px;
font-style: normal;
text-transform: uppercase;
position: absolute;
left: 499px;
top: 100px;
width: 442px;
}

h2 {
    text-align: center;
    color:#797972;
    font-family:'nunito', sans-serif;
    font-weight:normal;
   font-size: 50px;
   line-height: 135px;
   font-style: normal;
}

h3 {
    align-self: stretch;
    color:#020203;
    font-family:'playfair display', serif;
    font-weight:bold;
   font-size: 40px;
   line-height: 68px;
   font-style: normal;
   
}

.linkedin {
display: flex;
}


div.left{
    padding-left: 5%;
    padding-top: 110px;
}



.ViewCase  {
     background: transparent;
   margin-top:20px;
   padding-left: 25px;
   font-family:'nunito',sans-serif;
   border-radius: 0;
    font-size: 18px;
    color:#d399a9;
    border:solid  #d399a9;
}

.Casestudies {
    margin-top: 400px;

} 

.herotext-container {
    display: flex;
    max-width:1440px;
    margin: 0 auto;
}


.grid-container {
    display: flex;
    width: 1000 px;
    margin: 75px 75px;

}
.casestudytext {
    width:50%;
    background-color:white;
    font-family: 'nunito', sans-serif;
    color: #020203;
    font-size: 18px;
    text-align: left;
}

.casestudyimg {
    width:50%;
    
} 
.casestudyimg img {
    width:100%;
}
 
.casestudyimg img:hover {
    background-color: white rgba(253, 253, 253, 0.334);
}
  .projects {
    text-decoration: underline;
    color: #797976;
  
  }

  .footer {
      background-color:#B4D0CB ;
  }

 .Contact {
     display: flex;
 }